<html>
  <head>
    <style>
      .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 2px;
      }
      .box {
        border: 2px solid hsl(198, 0%, 80%);
        background-color: hsl(198, 0%, 98%);
        text-align:left;
        font-size: 30px;
        width: 100%;
        height: 100%;
        padding-top: 10%;
        padding-left: 10%;
        font-size:12pt;
        font-color: hsl(198, 0%, 80%);

        aspect-ratio: 1/1;
      }
    </style>
  </head>
  <body>

    <div class="clr-row">
        <div class="clr-col-4" style="padding-left:5vw">
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                <div class="tabs-vertical">
                  <ul id="demoTabs" class="nav" role="tablist">
                    <li role="presentation" class="nav-item">
                      <button id="tab1" class="btn btn-link nav-link active" aria-controls="panel1"
                              aria-selected="true" type="button" >Month</button>
                    </li>
                    <li role="presentation" class="nav-item">
                      <button id="tab2" class="btn btn-link nav-link" aria-controls="panel2"
                              aria-selected="false" type="button" routerLink="/weekview">Week</button>
                    </li>
                    <li role="presentation" class="nav-item">
                      <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3"
                              aria-selected="false" type="button" >Year</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-icon btn-outline" aria-label="settings" routerLink="/bugreport" routerLinkActive="false">
                <cds-icon shape="exclamation-triangle"></cds-icon>

              </button>
            </div>
          </div>
        </div>

        <div class="clr-col-8" style="padding-right:5vw">


    <div class="card">
        <div class="card-header">
          <app-event-modal></app-event-modal>
          
          <div class="month-container">
          <cds-icon shape="angle" direction="left" class="arrow-button" id="left-arrow" (click)="iterateMonthDown(month!)"></cds-icon>
          <h3 class="month-string">{{month}}</h3>
          <cds-icon shape="angle" direction="right" class="arrow-button" id="right-arrow" (click)="iterateMonthUp(month!)"></cds-icon>
          </div>
        </div>

        <div class="day-container">
          <div class="day">S</div>
          <div class="day">M</div>
          <div class="day">T</div>
          <div class="day">W</div>
          <div class="day">T</div>
          <div class="day">F</div>
          <div class="day">S</div>
        </div>


    <div class="grid">
        <div class="box">1</div>
<div class="box">2</div>
<div class="box">3</div>
<div class="box">4</div>
<div class="box">5</div>
<div class="box">6</div>
<div class="box">7</div>
<div class="box">8</div>
<div class="box">9</div>
<div class="box">10</div>
<div class="box">11</div>
<div class="box">12</div>
<div class="box">13</div>
<div class="box">14</div>
<div class="box">15</div>
<div class="box">16</div>
<div class="box">17</div>
<div class="box">18</div>
<div class="box">19</div>
<div class="box">20</div>
<div class="box">21</div>
<div class="box">22</div>
<div class="box">23</div>
<div class="box">24</div>
<div class="box">25</div>
<div class="box">26</div>
<div class="box">27</div>
<div class="box">28</div>
<div class="box">29</div>
<div class="box">30</div>
<div class="box">31</div>
<app-day-modal></app-day-modal>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
      </div>
    </div>
        </div>
        </div>



  </body>

