<html>

<head>
<!--  <style>-->
<!--    .grid {-->
<!--      display: grid;-->
<!--      grid-template-columns: repeat(7, 1fr);-->
<!--      grid-template-rows: repeat(6, 1fr);-->
<!--      grid-gap: 2px;-->
<!--    }-->

<!--    .box {-->
<!--      border: 2px solid hsl(198, 0%, 80%);-->
<!--      background-color: hsl(198, 0%, 98%);-->
<!--      text-align: left;-->
<!--      font-size: 30px;-->
<!--      width: 100%;-->
<!--      height: 100%;-->
<!--      padding-top: 10%;-->
<!--      padding-left: 10%;-->
<!--      font-size: 12pt;-->
<!--      aspect-ratio: 1/1;-->
<!--    }-->
<!--  </style>-->
</head>

<body>

  <div class="clr-row">
    <div class="clr-col-4" style="padding-left:3%">
      <app-filter></app-filter>
      <app-todo></app-todo>
    </div>
    <!--        <div class="clr-col-4" style="padding-left:5vw">-->
    <!--          <div class="card">-->
    <!--            <div class="card-block">-->
    <!--              <div class="card-text">-->
    <!--                <div class="tabs-vertical">-->
    <!--                  <ul id="demoTabs" class="nav" role="tablist">-->
    <!--                    <li role="presentation" class="nav-item">-->
    <!--                      <button id="tab1" class="btn btn-link nav-link active" aria-controls="panel1"-->
    <!--                              aria-selected="true" type="button" >Month</button>-->
    <!--                    </li>-->
    <!--                    <li role="presentation" class="nav-item">-->
    <!--                      <button id="tab2" class="btn btn-link nav-link" aria-controls="panel2"-->
    <!--                              aria-selected="false" type="button" routerLink="/weekview" (click)="sendCalTime()">Week</button>-->
    <!--                    </li>-->
    <!--                    <li role="presentation" class="nav-item">-->
    <!--                      <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3"-->
    <!--                              aria-selected="false" type="button" >Year</button>-->
    <!--                    </li>-->
    <!--                  </ul>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="card-footer">-->
    <!--                <button type="button" class="btn btn-icon btn-outline bug-report" aria-label="settings" routerLink="/bugreport" routerLinkActive="false">-->
    <!--                <cds-icon shape="exclamation-triangle"></cds-icon>-->

    <!--              </button>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->

    <div class="clr-col-8" style="padding-right:3%">


      <!-- <clr-tabs class="tabs" [ngStyle]="{'background':colorHSL, 'color':textColor}">
        <clr-tab>
          <button clrTabLink id="link1" (click)="activeTab = 'month'">Month</button>
          <ng-container *ngIf="activeTab === 'month'">
            <clr-tab-content id="content1" *clrIfActive>
              <div class="card" #cardContainer>
                <app-monthview (switchTab)="onSwitchTab($event)"></app-monthview>
              </div>
            </clr-tab-content>
          </ng-container>
        </clr-tab>
        <clr-tab>
          <button clrTabLink id="link2" (click)="activeTab = 'week'">Week</button>
          <ng-container *ngIf="activeTab === 'week'">
            <clr-tab-content id="content2" *clrIfActive>
              <app-weekview></app-weekview>
            </clr-tab-content>
          </ng-container>
        </clr-tab>
        <clr-tab>
          <button clrTabLink id="link3" (click)="activeTab = 'day'">Day</button>
          <ng-container *ngIf="activeTab === 'day'">
            <clr-tab-content id="content3" *clrIfActive>
              <app-dayview></app-dayview>
            </clr-tab-content>
          </ng-container>
        </clr-tab>
      </clr-tabs> -->


      <ul class="tabs">
        <li><a (click)="activeTab = 'month'" [class.active]="activeTab === 'month'" [ngStyle]="{'background-color': activeTab === 'month' ? colorHSL : '', 'color': activeTab === 'month' ? textColor : ''}">Month</a></li>
        <li><a (click)="activeTab = 'week'" [class.active]="activeTab === 'week'" [ngStyle]="{'background-color': activeTab === 'week' ? colorHSL : '', 'color': activeTab === 'week' ? textColor : ''}">Week</a></li>
        <li><a (click)="activeTab = 'day'" [class.active]="activeTab === 'day'" [ngStyle]="{'background-color': activeTab === 'day' ? colorHSL : '', 'color': activeTab === 'day' ? textColor : ''}">Day</a></li>
      </ul>
        <div class="tab-content">
          <div *ngIf="activeTab === 'month'">
            <div class="card" #cardContainer>

              <app-monthview (switchTab)="onSwitchTab($event)"></app-monthview>

            </div>
          </div>
          <div *ngIf="activeTab === 'week'">
            <div class="card" #cardContainer>
              <app-weekview></app-weekview>
            </div>
          </div>
          <div *ngIf="activeTab === 'day'">
            <div class="card" #cardContainer>
              <app-dayview></app-dayview>
          </div>
        </div>


    </div>
  </div>
