<html>

<head>
  <style>
    .grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 2px;
    }

    .box {
      border: 2px solid hsl(198, 0%, 80%);
      background-color: hsl(198, 0%, 98%);
      text-align: left;
      font-size: 30px;
      width: 100%;
      height: 100%;
      padding-top: 10%;
      padding-left: 10%;
      font-size: 12pt;
      aspect-ratio: 1/1;
    }
  </style>
</head>

<body>

  <div class="clr-row">
    <div class="clr-col-4" style="padding-left:3%">
      <app-filter></app-filter>
    </div>
    <!--        <div class="clr-col-4" style="padding-left:5vw">-->
    <!--          <div class="card">-->
    <!--            <div class="card-block">-->
    <!--              <div class="card-text">-->
    <!--                <div class="tabs-vertical">-->
    <!--                  <ul id="demoTabs" class="nav" role="tablist">-->
    <!--                    <li role="presentation" class="nav-item">-->
    <!--                      <button id="tab1" class="btn btn-link nav-link active" aria-controls="panel1"-->
    <!--                              aria-selected="true" type="button" >Month</button>-->
    <!--                    </li>-->
    <!--                    <li role="presentation" class="nav-item">-->
    <!--                      <button id="tab2" class="btn btn-link nav-link" aria-controls="panel2"-->
    <!--                              aria-selected="false" type="button" routerLink="/weekview" (click)="sendCalTime()">Week</button>-->
    <!--                    </li>-->
    <!--                    <li role="presentation" class="nav-item">-->
    <!--                      <button id="tab3" class="btn btn-link nav-link" aria-controls="panel3"-->
    <!--                              aria-selected="false" type="button" >Year</button>-->
    <!--                    </li>-->
    <!--                  </ul>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="card-footer">-->
    <!--                <button type="button" class="btn btn-icon btn-outline bug-report" aria-label="settings" routerLink="/bugreport" routerLinkActive="false">-->
    <!--                <cds-icon shape="exclamation-triangle"></cds-icon>-->

    <!--              </button>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->

    <div class="clr-col-8" style="padding-right:3%">


      <clr-tabs class="tabs" [ngStyle]="{'background':colorHSL, 'color':textColor}">
        <clr-tab>
          <button clrTabLink id="link1">Month</button>
          <clr-tab-content id="content1" *clrIfActive>
            <div class="card" #cardContainer>
              <app-monthview></app-monthview>

            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Week</button>
          <clr-tab-content *clrIfActive="true">
            <app-weekview> </app-weekview>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Day</button>
          <clr-tab-content *clrIfActive="true">
            <app-dayview> </app-dayview>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>