
<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Routinely
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username" (ngModelChange)="errorCheck()"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
            </clr-password-container>
            <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe"/>
            </clr-checkbox-wrapper>
            <div class="signup-link">
                Dont have an account? <a (click)="routeSignin()">Sign up here!</a>
            </div>
            <div class="error">
                <span class="error-text">Invalid user name or password</span>
            </div>
            <button type="submit" class="btn btn-primary" (click)="loginRequest()">SUBMIT</button>

        </div>
    </form>
  </div>

