
<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Routinely
        </section>
        <h3>Sign Up:</h3>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
            </clr-password-container>
            

            


            <div class="error">
                <span class="error-text">Invalid user name or password</span>
            </div>
            <button type="submit" class="btn btn-primary" (click)="signinRequest()">SIGN UP</button>
            
        </div>
    </form>
  </div>
  
