<html>

<body>

  <div class="card">
    <div class="card-header">
<!--      <div style="display: flex; max-height: 0px;">-->
<!--        <app-event-modal style="margin-left: auto"></app-event-modal>-->
<!--      </div>-->

      <!-- <div class="monthweekcontainer">
        <div class="month-container">
          <cds-icon shape="angle" direction="left" class="arrow-button" id="left-arrow"
            (click)="iterateDayDown()"></cds-icon>
          <h3 class="month-string">{{month}}, {{day}} {{year}}</h3>
          <cds-icon shape="angle" direction="right" class="arrow-button" id="right-arrow"
            (click)="iterateDayUp()"></cds-icon>
        </div>
      </div> -->


        <div class="header-content">
          <div class="left-section">
            <cds-icon shape="angle" direction="left" class="arrow-button" id="left-arrow" (click)="iterateDayDown()"></cds-icon>
            <div class="month-year-container">
              <h3 class="month-string">{{month}}, {{day}} {{year}}</h3>
            </div>
          </div>
          <div class="right-section">
            <cds-icon shape="angle" direction="right" class="arrow-button" id="right-arrow" (click)="iterateDayUp()"></cds-icon>
            <app-event-modal></app-event-modal>
          </div>
        </div>


      <div class="day-view">
        <div class="time-column">
          <div style="font-size: 14px;" class="time" *ngFor="let time of times">{{time}}</div>
        </div>

        <div class="events-column">
          <div class="event" *ngFor="let event of events" [style.top.px]="getPos(event)" [style.height.px]="50*event.duration">
            <div class="event-time">{{event.duration}}</div>
            <div class="event-title">{{event.title}}</div>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>

</html>
