<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <h4 class="card-header">Event Filter</h4>
      <div class="card-block">
        <clr-checkbox-container>
          <clr-checkbox-wrapper *ngFor="let category of catList">
            <input type="checkbox" clrCheckbox [value]="category" name="{{category}}" />
            <label>{{category}}</label>
          </clr-checkbox-wrapper>
          <br/>
          <clr-control-helper>Select the categories you wish to filter <b>out.</b></clr-control-helper>
        </clr-checkbox-container>
      </div>
      <div class="add-category">
        <cds-icon shape="plus" size="24" [ngStyle]="{color: colorHSL}" (click)="toggleInput()"></cds-icon>
        <input clrInput class="catInput" *ngIf="showInput" [(ngModel)]="newCategory" (keydown.enter)="addCategory()" placeholder="Enter new category" />
      </div>
    </div>
  </div>
</div>

