<div class="clr-row">
  <div class="clr-col-12">
    <div class="card">
      <h4 class="card-header">Event Filter</h4>
      <div class="card-block">
        <br/>
        <clr-control-helper *ngIf="catList.size != 0" style="font-size: 14px;">Select the categories you wish to filter <b>out.</b></clr-control-helper>
        <clr-control-helper *ngIf="catList.size === 0" style="font-size: 14px;">You currently have no categories. Click the button below to create one!</clr-control-helper>
        <clr-checkbox-container>
          <clr-checkbox-wrapper *ngFor="let category of catList">
            <input [indeterminate]="showInput" [disabled]="showInput" type="checkbox" clrCheckbox [value]="category" name="{{category}}" />
            <label [ngClass]="{'strikethrough': category === hoveredCategory && showInput}" (click)="showInput ? removeCat(category) : $event.stopPropagation()" (mouseenter)="onCheckboxHover(category)" (mouseleave)="onCheckboxHover('')">{{category}}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
      </div>
      <div class="add-category">
        <button type="button" class="btn btn-icon btn-link" title="Edit categories" >
        <cds-icon shape="pencil" size="24" [ngStyle]="{color: colorHSL}" (click)="toggleInput()"></cds-icon>
        </button>
        <input clrInput class="catInput" *ngIf="showInput" [(ngModel)]="newCategory" (keydown.enter)="addCategory()" placeholder="Enter new category" />
      </div>
    </div>
  </div>
</div>

