






<div class="content" role="main">



  <!-- TODO: implement rest of icons and classes -->
  <header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <cds-icon shape="clock"></cds-icon>
            <span class="title">Routinely</span>
        </a>
    </div>
    <div class="header-nav">
        <!--if we want nav links they go here-->
    </div>
    <div class="header-actions">
        <a  class="nav-link nav-icon" aria-label="settings" routerLink="/settings" routerLinkActive="true">
          <cds-icon shape="user"></cds-icon>
        </a>
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <cds-icon shape="cog"></cds-icon>
                <cds-icon shape="angle" direction="down"></cds-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <button clrDropdownItem (click)="goToSettings()" class="settings-option">Preferences</button> 
                <button clrDropdownItem (click)="goToLogin()" class="settings-option">Log in</button>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>



<router-outlet></router-outlet>
