.month-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

.clr-col-8 {
  max-height: 45vw;
  max-width: 70vw !important;
}

.arrow-button {
  margin-top: 5%;
}

body {
  overflow-x: hidden;
  scrollbar-gutter: auto;
}

h3 {
  user-select: none;
}



.nav-link {
  user-select: none;
}

.box {
  /*width: 10%;*/
  /*height: 10%;*/
  display: flex;
  user-select: none;
  position: relative;
  /*font-size: 70%;*/
  border: 2px solid hsl(198, 0%, 80%);
  background-color: hsl(198, 0%, 98%);
  text-align: left;
  /*font-size: 30px;*/
  max-width: 100%;
  max-height: 100%;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 12pt;
  aspect-ratio: 1/1;
  /*font-color: hsl(198, 0%, 80%);*/
}

:host ::ng-deep .btn-event {
  min-width: 6.8vw;
  max-width: 6.8vw;
  position: absolute;
  /*top: 2rem;*/
  display: block;
  justify-content: center;
}

.box:hover {
  background-color: hsl(198, 78%, 78%, 20%);
}

.box:active {
  background-color: hsl(199, 56%, 81%);
}

.day-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-width: 100%;
}

.day {
  width: 14.2857142857%;
  height: 10%;
  display: flex;
  user-select: none;
  font-size: 70%;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 100% !important;

}

ul.tabs {
  margin-top: 1vh;
  padding: 0;
}

ul.tabs div {
  display: inline-block;
  background: hsl(198, 0%, 91%);
  color: hsl(198, 0%, 40%);
  cursor: pointer;
  padding: 5px 25px 5px 15px;
  -webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
  clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);

}

ul.tabs div.active {
  background: hsl(198, 78%, 78%);
  color: #333;
}

.card {
  border: none;
  margin-top: -1px;
  padding: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.month-year-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  pointer-events: none;
}

.month-string {
  pointer-events: auto;
}
