.card-block {
  padding-top: 0;
  margin-top: 0;
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: auto;
}

.badge {
  font-size: 12px;
}

.card-text {
  padding-top: 0;
  margin-top: 0;
  text-decoration: line-through;
}

label {
  text-decoration: none;
}

.strikethrough {
  text-decoration: line-through;
}

label:hover {
  text-decoration: line-through;
}

.card-footer {
  padding-right: 70px;
}

.clr-control-helper {
  margin-bottom: 16px;
}

.add-category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

cds-icon {
  margin-left: 1.5vh;
  /*margin-top: 1vh;*/
  /*margin-bottom: 1vh;*/
}

.catInput {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: .5vw;
}

.strikethrough {
  text-decoration: line-through;
}





