.card-text {
    padding-top: 2vh;
    padding-bottom: 50vh; /* Arbitrary size for show - will need to scale with vw or rem when putting together*/
  }

  .nav {
    width: 107%;
  }

  .bug {
    width: 100% !important;
  }